body{
	background-color: : linear-gradient(100deg,#00dbde,#fc00ff);	
}

.div1{

	width:400px;
	margin:50px;
	padding:30% 30%;
	border:20px ;
	background-color:white; 	
}


.p1,.p2{

	line-height: 40px;
}

.x3{
	background: linear-gradient(30deg,#00dbde,#fc00ff);	
}

.F1
{
	text-align: right;
}


