body{
	background: url("lac.jpg")  no-repeat;
	line-height: 5px;
	font-family: "Century Gothic";
	font-size: 11px;
}

h1{
	font-style: normal;
	font-weight: lighter;
	font-size: 40px;
	color: white;
	text-align: center;
	text-transform: none;
	
}

h2, .h3{
	letter-spacing: 1px;
	line-height: 30px;
}

.div1{
	background-color: rgba(25,25,25,0.6);
	color: white;
	width: 300px;
	height: 350px;
	margin: auto; 
	line-height: 20px;
	padding: 15px;
}

.div2, .autre {
	text-align: center;
	line-height: 3px;
}

.div3{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	line-height: 10px;
}
.logo1{
	width: 110px;
	height: 15px;
	border: 1px solid white;
	margin-left: 25px;
	padding-bottom: 9px;
	text-align: center;
	border-spacing: 15px;
	line-height: 25px;
}

.logo2{
	width: 110px;
	height: 15px;
	border: 1px solid white;
	margin-right: 25px;
	padding-bottom: 9px;
	text-align: center;
	line-height: 25px;
}

.l1, .l2{
	font-weight: bolder;
	font-size: 13;
}

.div4{
	width: 270px;
	height: 6px;
	border: 1px solid white;
	margin-right: 25px;
	padding-bottom: 15px;
	padding-top: 4px;
	margin: 15px;
	text-align: left;
	text-indent: 10px;

}

.key{
	width: 270px;
	height: 6px;
	border: 1px solid white;
	margin-right: 25px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	padding-top: 4px;
	margin: 15px;
	text-align: left;
	text-indent: 5px;

}

.div4, .key{
	line-height: 20px;
	margin-bottom: 25px;
	margin-top: 10px;
}

.div5{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	margin-top: 20px;
	margin: 15px;
}

.choix{
	background-color: rgba(25,25,25,0.6);
}

.div6{
	font-size: 12px;
	margin: 15px;
	width: 270px;
	background-color: rgba(50,250,70,1); 
	text-align: center;
	font-weight: lighter;
	border-size: 2px;
	border-style: solid; 
	border-color: rgba(50,250,70,1);
}

footer{
	font-size: 14px;
	color: white;
	text-indent: 390px;
	text-transform: none;
}

.pied{
	color: red;
}

